In [13]:
import pandas as pd
import sidetable as stb

df = pd.read_csv('../data/products.csv', sep=';')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49694 entries, 0 to 49693
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   product_id     49694 non-null  int64
 1   product_name   48436 non-null  object
 2   aisle_id       49694 non-null  int64
 3   department_id  49694 non-null  int64
dtypes: int64(3), object(1)
memory usage: 1.5+ MB

In [14]:
df.describe()

         product_id      aisle_id  department_id
count  49694.000000  49694.000000   49694.000000
mean   24847.500000     67.773192      11.728478
std    14345.566475     38.317265       5.850314
min        1.000000      1.000000       1.000000
25%    12424.250000     35.000000       7.000000
50%    24847.500000     69.000000      13.000000
75%    37270.750000    100.000000      17.000000
max    49694.000000    134.000000      21.000000

In [15]:
df.head()

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

In [16]:
df.isnull().sum()

product_id          0
product_name     1258
aisle_id            0
department_id       0
dtype: int64

In [17]:
df.duplicated(['order_id']).sum()

KeyError: Index(['order_id'], dtype='object')

In [18]:
import pandas as pd

# Tiene dos estructuras principales
# Series = columna/vector
# Dataframe = tabla

serie = pd.Series([1, 2, 3, 4, 5])  
print(serie)
serie.name = 'nombre vector/columna'
print(serie)

df = pd.DataFrame({
    'columna1':[1,3,45,66,4],
    'columna2':['a','b','c','d', 'e']
})
print(df)
print(df.shape)

df = pd.read_csv('../data/products.csv', sep=';')
print(df.info())
print(df.columns)
print(df.shape)
print(df.index)
print(df.describe())
print(df.tail())
print(df.head())
columnas = ['id_producto', 'nombre_producto', 'id_isla', 'id_departamento']
df.columns = columnas
print(df.columns)

print(df['id_isla'].value_counts())
print(df.memory_usage().sum())
print(df.T)
print(df.sort_values('id_producto', ascending=False))
print(df[['id_isla', 'id_producto']])

print(df[:10])
print(df.iloc[[1,5], [1,2]]) # primera lista indices de las filas
                             # segunda lista indices de las columnas

print(df[df['id_departamento']>10])
print(df[(df['id_departamento']>10)&(df['id_departamento']<15)])
print(df['id_departamento']-df['id_isla'])
print(df.isna().sum())
print(df.isna().sum().sum())
print(df[df['nombre_producto'].isna()])
df['nombre_producto'] = df['nombre_producto'].fillna('Desconocido')
print(df['id_isla'].mean())
print(df['id_isla'].median())
print(df['id_isla'].apply(lambda x: -x))
print(df['nombre_producto'].apply(lambda x: x.lower()))
print(df.groupby('nombre_producto')['id_producto'].mean())
series_id_mean = df.groupby('nombre_producto')['id_producto'].mean()
series_id_mean.name = 'id_producto_mean'
df = df.join(series_id_mean, on=['nombre_producto'], how='inner')
print(df.head())

import matplotlib.pyplot as plt
df['id_producto_mean'].plot()
df['id_producto'].plot(kind='bar')
df.plot(figsize=[10,10])

0    1
1    2
2    3
3    4
4    5
dtype: int64
0    1
1    2
2    3
3    4
4    5
Name: nombre vector/columna, dtype: int64
   columna1 columna2
0         1        a
1         3        b
2        45        c
3        66        d
4         4        e
(5, 2)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49694 entries, 0 to 49693
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   product_id     49694 non-null  int64
 1   product_name   48436 non-null  object
 2   aisle_id       49694 non-null  int64
 3   department_id  49694 non-null  int64
dtypes: int64(3), object(1)
memory usage: 1.5+ MB
None
Index(['product_id', 'product_name', 'aisle_id', 'department_id'], dtype='object')
(49694, 4)
RangeIndex(start=0, stop=49694, step=1)
         product_id      aisle_id  department_id
count  49694.000000  49694.000000   49694.000000
mean   24847.500000     67.773192      11.728478
std    14345.566475     38.317265       5.850314
min        1.000000      1.000000       1.000000
25%    12424.250000     35.000000       7.000000
50%    24847.500000     69.000000      13.000000
75%    37270.750000    100.000000      17.000000
max    49694.000000    134.000000      21.000000
       product_id                                     product_name  aisle_id  \
49689       49690                    HIGH PERFORMANCE ENERGY DRINK        64
49690       49691                    ORIGINAL PANCAKE & WAFFLE MIX       130
49691       49692  ORGANIC INSTANT OATMEAL LIGHT MAPLE BROWN SUGAR       130
49692       49693                           SPRING WATER BODY WASH       127
49693       49694                          BURRITO- STEAK & CHEESE        38

       department_id
49689              7
49690             14
49691             14
49692             11
49693              1
   product_id                                       product_name  aisle_id  \
0           1                         Chocolate Sandwich Cookies        61
1           2                                   All-Seasons Salt       104
2           3               Robust Golden Unsweetened Oolong Tea        94
3           4  Smart Ones Classic Favorites Mini Rigatoni Wit...        38
4           5                          Green Chile Anytime Sauce         5

   department_id
0             19
1             13
2              7
3              1
4             13
Index(['id_producto', 'nombre_producto', 'id_isla', 'id_departamento'], dtype='object')
id_isla
100    1258
45     1246
37     1091
47     1038
120    1026
       ...
113      47
82       44
32       32
68       26
18       12
Name: count, Length: 134, dtype: int64
1590340
                                      0                 1      \
id_producto                               1                 2
nombre_producto  Chocolate Sandwich Cookies  All-Seasons Salt
id_isla                                  61               104
id_departamento                          19                13

                                                2      \
id_producto                                         3
nombre_producto  Robust Golden Unsweetened Oolong Tea
id_isla                                            94
id_departamento                                     7

                                                             3      \
id_producto                                                      4
nombre_producto  Smart Ones Classic Favorites Mini Rigatoni Wit...
id_isla                                                         38
id_departamento                                                  1

                                     4             5      \
id_producto                              5             6
nombre_producto  Green Chile Anytime Sauce  Dry Nose Oil
id_isla                                  5            11
id_departamento                         13            11

                                          6      \
id_producto                                   7
nombre_producto  Pure Coconut Water With Orange
id_isla                                      98
id_departamento                               7

                                             7      \
id_producto                                      8
nombre_producto  Cut Russet Potatoes Steam N' Mash
id_isla                                        116
id_departamento                                  1

                                             8      \
id_producto                                      9
nombre_producto  Light Strawberry Blueberry Yogurt
id_isla                                        120
id_departamento                                 16

                                                          9      ...  \
id_producto                                                  10  ...
nombre_producto  Sparkling Orange Juice & Prickly Pear Beverage  ...
id_isla                                                     115  ...
id_departamento                                               7  ...

                                              49684             49685  \
id_producto                                   49685             49686
nombre_producto  En Croute Roast Hazelnut Cranberry  Artisan Baguette
id_isla                                          42               112
id_departamento                                   1                 3

                                                      49686  \
id_producto                                           49687
nombre_producto  Smartblend Healthy Metabolism Dry Cat Food
id_isla                                                  41
id_departamento                                           8

                                  49687                                 49688  \
id_producto                       49688                                 49689
nombre_producto  Fresh Foaming Cleanser  FLUFFLY VANILLA MARSHMALLOW FROSTING
id_isla                              73                                    97
id_departamento                      11                                    13

                                         49689                          49690  \
id_producto                              49690                          49691
nombre_producto  HIGH PERFORMANCE ENERGY DRINK  ORIGINAL PANCAKE & WAFFLE MIX
id_isla                                     64                            130
id_departamento                              7                             14

                                                           49691  \
id_producto                                                49692
nombre_producto  ORGANIC INSTANT OATMEAL LIGHT MAPLE BROWN SUGAR
id_isla                                                      130
id_departamento                                               14

                                  49692                    49693
id_producto                       49693                    49694
nombre_producto  SPRING WATER BODY WASH  BURRITO- STEAK & CHEESE
id_isla                             127                       38
id_departamento                      11                        1

[4 rows x 49694 columns]
       id_producto                                    nombre_producto  \
49693        49694                            BURRITO- STEAK & CHEESE
49692        49693                             SPRING WATER BODY WASH
49691        49692    ORGANIC INSTANT OATMEAL LIGHT MAPLE BROWN SUGAR
49690        49691                      ORIGINAL PANCAKE & WAFFLE MIX
49689        49690                      HIGH PERFORMANCE ENERGY DRINK
...            ...                                                ...
4                5                          Green Chile Anytime Sauce
3                4  Smart Ones Classic Favorites Mini Rigatoni Wit...
2                3               Robust Golden Unsweetened Oolong Tea
1                2                                   All-Seasons Salt
0                1                         Chocolate Sandwich Cookies

       id_isla  id_departamento
49693       38                1
49692      127               11
49691      130               14
49690      130               14
49689       64                7
...        ...              ...
4            5               13
3           38                1
2           94                7
1          104               13
0           61               19

[49694 rows x 4 columns]
       id_isla  id_producto
0           61            1
1          104            2
2           94            3
3           38            4
4            5            5
...        ...          ...
49689       64        49690
49690      130        49691
49691      130        49692
49692      127        49693
49693       38        49694

[49694 rows x 2 columns]